{% load staticfiles %}
<!--DOCTYPE html -->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>{% block head_title %}MileStory{% endblock head_title %}</title>
		<link rel="icon" href="images/favicon.ico">
		<!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->
		<link rel='stylesheet' href='{% static "css/normalize.css" %}' />
		<link rel='stylesheet' href='{% static "css/style.css" %}' />
		{% block head_extra %}{% endblock head_extra %}
	</head>
	{% block body_id %}
	<body>
	{% endblock body_id %}
<!-- 		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script> -->
		<header>
			<form method="get" action="#">
				<input type="text" name="example" placeholder="&nbsp; &nbsp; &nbsp; Search" class="search_box">
			</form>
			<button></button>
		</header>
		{% block add_header %}{% endblock add_header %}
		<ul id="main_contents">
			{% block content %}{% endblock content %}
		</ul>
		<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script> -->
	</body>
</html>




