{% extends "base.html" %}
<!-- {% block head_extra %}
	{{form.media}}
{% endblock head_extra %} -->
{% block body_id %}<body id="timeline">{% endblock body_id %}
{% block add_header %}
	<div id="subtitle">
		My Journey to Europe  :)
		<img src="img/face-01.png" alt="" class="profile">
	</div>
{% endblock add_header %}
{% block content %}
	<li>
		<div class="txt">My Journey to Europe  :)<span>2014/12/7</span></div>
		<div class="picture"><img src="img/pumpkin-02.png" alt=""></div>
	</li>
{% endblock content %}